---
import Container from "~/components/sections/container.svelte";
import PillsText from "~/components/text/pills.astro";
import Grid from "~/components/sections/testimonial/components/grid.svelte";

const { className } = Astro.props;

import { testimonials } from "~/data/testimonials";
import { t, language } from "~/i18n";

const tr = t(Astro.currentLocale as keyof typeof language);
---

<div class="flex flex-col gap-14">
    <Container className={`flex flex-col gap-4 ${className}`}>
        <PillsText>{tr.testimonial.pills}</PillsText>
        <div>
            <div
                class="relative flex justify-center items-end text-3xl md:text-6xl font-medium"
            >
                <span class="wri-italic from-wri-blue to-wri-blue/45"
                    >{tr.testimonial.experiences}&nbsp;</span
                >
                {tr.testimonial.that}&nbsp;
                <img
                    src="/assets/testimonial/inline-pics-1.webp"
                    alt="inline-pics-1"
                    class="translate-y-0.5"
                />
                &nbsp;{tr.testimonial.spark}
            </div>
            <div
                class="relative flex justify-center items-end text-3xl md:text-6xl font-medium"
            >
                <span class="wri-italic from-wri-yellow to-wri-yellow/45"
                    >{tr.testimonial.ideas}&nbsp;</span
                >
                <img
                    src="/assets/testimonial/inline-pics-2.webp"
                    alt="inline-pics-2"
                    class="translate-y-0.5"
                />
                &nbsp;{tr.testimonial.and}
                <span class="wri-italic from-wri-yellow to-wri-yellow/45"
                    >&nbsp;{tr.testimonial.possibilities}</span
                >
            </div>
        </div>
        <div class="flex flex-col items-center text-wri-gray-600 text-center max-w-3xl mx-auto">
            <p>
                {tr.testimonial.description}
            </p>
        </div>
    </Container>
    <Grid testimonials={testimonials} />
</div>
