---
export type Props = {
	variant?: "regular" | "small";
	image: string;
	title: string;
	author: string;
	description: string;
	slug: string;
};
const { variant = "regular", ...props } = Astro.props as Props;
---

<div
	class={`group ${
		variant === "regular" ? "p-6" : "p-4"
	} rounded-2xl bg-white border border-muted-200 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-xl shadow-gray-600/10`}
>
	<div class="relative overflow-hidden rounded-xl">
		<img
			src={props.image}
			alt="art cover"
			loading="lazy"
			width="1000"
			height="667"
			class={`${
				variant === "regular" ? "h-64" : "h-32"
			} w-full object-cover object-top transition duration-500 group-hover:scale-105`}
		/>
	</div>
	<div class="mt-6 relative">
		<h3 class={`${variant === "regular" ? "text-2xl" : "text-lg"} font-semibold text-gray-800 dark:text-white`}>
			{props.title}
		</h3>
		<span class="block text-sm text-muted-600 pb-2">{props.author}</span>
		{variant === "regular" && <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">{props.description}</p>}
		<a class="inline-block" href={`/articles/${props.slug}`}>
			<span class="text-primary-500 dark:text-blue-300 font-medium hover:text-primary-700">Read more</span>
		</a>
	</div>
</div>
