---
export type Props = {
	variant?: "regular" | "small";
	image: string;
	title: string;
	author: string;
	description: string;
	slug: string;
	date: Date;
};

const { variant = "regular", ...props } = Astro.props as Props;
const humanisedPostedDate = new Date(props.date).toLocaleDateString("en-ID", {
	year: "numeric",
	month: "long",
	day: "numeric",
});
---

<div
	class={`group ${
		variant === "regular" ? "p-6" : "p-4"
	} rounded-2xl bg-white border border-slate-200 bg-opacity-50 shadow-xl shadow-gray-600/10`}
>
	<div class="relative overflow-hidden rounded-xl">
		<img
			src={props.image}
			alt="art cover"
			loading="lazy"
			width="1000"
			height="667"
			class={`${
				variant === "regular" ? "h-64" : "h-32"
			} w-full object-cover object-top transition duration-500 scale-105 group-hover:scale-100`}
		/>
	</div>
	<div class="mt-6 relative">
		<h3 class={`${variant === "regular" ? "text-2xl" : "text-lg"} font-semibold text-gray-800`}>
			{props.title}
		</h3>
		<span class="block text-sm text-slate-600 py-2">
			Posted in {humanisedPostedDate} by <b class="font-bold">{props.author}</b>
		</span>
		{variant === "regular" && <p class="mt-4 mb-6 text-gray-600">{props.description}</p>}
		<a class="inline-block" href={`/articles/${props.slug}`}>
			<span class="text-primary-500 font-medium hover:text-primary-700">Read more</span>
		</a>
	</div>
</div>
