---
import { Icon } from "astro-icon/components";

import { navItems } from "~/data/navigation";

import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl, useTranslations, languages } from "~/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const currentPath = Astro.url.pathname;

const isLinkActive = (href: string) => {
    const localeHref = getRelativeLocaleUrl(lang, href);
    if (localeHref === "/" && currentPath === "/") return true;
    if (localeHref !== "/" && currentPath.startsWith(localeHref)) return true;
    return false;
};

function toggleLanguage(currentLang: string) {
  return currentLang === "en" ? "id" : "en";
}

const nextLang = toggleLanguage(lang);
const nextLangUrl = getRelativeLocaleUrl(nextLang, currentPath.replace(`/${lang}`, "") || "/");
---

<nav
    class="fixed w-full bg-wri-white/65 backdrop-blur-xl py-4 px-4 md:py-10 md:px-30 flex justify-between items-center z-99"
>
    <a href="/" class="flex items-center gap-2">
        <img
            src="/assets/wri-logo.webp"
            alt="Workshop Riset Informatika Logo"
            class="h-8 md:h-10"
        />
    </a>

    <ul class="flex gap-2 md:gap-0">
        {
            navItems.map((item) => {
                const isActive = isLinkActive(item.href);
                const href = getRelativeLocaleUrl(lang, item.href);
                return (
                    <li>
                        <a
                            href={href}
                            class={`font-medium transition-colors duration-200 px-2 text-xs md:px-6 md:text-base ${
                                isActive
                                    ? "text-black border-b-3 border-wri-blue pb-4"
                                    : "text-gray-500 border-b-2 border-wri-blue/50 pb-4.25 hover:text-black hover:border-b-3 hover:border-wri-blue hover:pb-4"
                            }`}
                        >
                            {t(item.name as any)}
                        </a>
                    </li>
                );
            })
        }
    </ul>

    <a href={nextLangUrl} class="hidden md:flex items-center gap-2 cursor-pointer">
        <img
            src={lang === "en" ? "/assets/navs/en-icon.webp" : "/assets/navs/id-icon.webp"}
            alt={languages[lang]}
            class="h-7 w-7 rounded-full object-cover"
        />
        <span class="text-sm font-medium text-gray-700">{languages[lang]}</span>
        <Icon name="ph:caret-down" class="h-5 w-5 text-gray-500" />
    </a>
</nav>
