---
import Button from "~/components/button/button.svelte";

type Highlight = {
	title: string;
	subtitle: string;
};
const highlights: Highlight[] = [
	{ title: "10+", subtitle: "years" },
	{ title: "200+", subtitle: "members" },
	{ title: "3", subtitle: "partners" },
	{ title: "4", subtitle: "miniclass" },
];

const images = [
	"https://i.ibb.co/PT83M2z/IMG-1914.jpg",
	"https://i.ibb.co/sPTv3wz/IMG-1915.jpg",
	"https://i.ibb.co/crt0tk2/DSC00329.jpg",
	"https://i.ibb.co/G9J7744/DSC00342.jpg",
	"https://i.ibb.co/Dt0xvRW/DSC09915.jpg",
];
---

<div class="min-h-screen w-full overflow-hidden bg-muted-100 dark:bg-muted-1000">
	<div class="min-h-screen w-full max-w-7xl mx-auto flex flex-col justify-center gap-14">
		<div class="flex items-center px-4">
			<div class="w-full grid grid-cols-12 gap-10">
				<div class="col-span-12 lg:col-span-6">
					<div class="h-full flex items-center mb-8 lg:mb-0">
						<div class="text-center lg:text-left font-sans space-y-4">
							<h1 class="font-heading font-bold text-6xl text-muted-800 dark:text-white">
								<span class="block">Learn Together,</span>
								<span class="block">Grow Together</span>
							</h1>
							<p class="text-lg text-muted-500 dark:text-muted-400 py-4">
								Bersama Workshop Riset Informatika, sudahi galaumu mari nguli ngoding bersamaku, bersama
								tuhan mari kita kerjakan seluruh proyekan.
							</p>
							<div class="w-full flex items-center justify-center lg:justify-start gap-2">
								<Button variant="main" to="/home" class="min-w-[130px]">Know More</Button>
							</div>
						</div>
					</div>
				</div>
				<div class="relative col-span-12 lg:col-span-6">
					<swiper-container loop={true} effect="fade">
						{
							images.map((image, index) => (
								<swiper-slide>
									<img
										src={image}
										class="rounded-lg w-full h-[32rem] object-cover mx-auto shadow-lg"
										alt={`Hero ${index}`}
									/>
								</swiper-slide>
							))
						}
					</swiper-container>
				</div>
			</div>
		</div>
		<div class="grid grid-cols-4 p-6 border border-slate-300 bg-white shadow-lg max-w-fit rounded-xl">
			{
				highlights.map((highlight, index) => (
					<div class={`${index !== highlights.length - 1 ? "border-r" : ""} border-slate-300 px-12`}>
						<span class="block text-3xl font-bold text-slate-800">{highlight.title}</span>
						<span class="block text-lg text-slate-600 capitalize">{highlight.subtitle}</span>
					</div>
				))
			}
		</div>
	</div>
</div>
