---
import Container from "~/components/sections/container.svelte";
import PillsText from "~/components/text/pills.astro";
import MiniClassCard from "~/components/sections/about-us/components/miniclasses.astro";
import { miniclasses } from "~/data/miniclasses";
import { t, language } from "~/i18n";

const tr = t(Astro.currentLocale as keyof typeof language);

const { className } = Astro.props;

const translatedMiniclasses = [
    {
        ...miniclasses[0],
        title: tr.miniclass.game.title,
        description: tr.miniclass.game.desc,
        link: "/miniclass/game"
    },
    {
        ...miniclasses[1],
        title: tr.miniclass.backend.title,
        description: tr.miniclass.backend.desc,
        link: "/miniclass/backend"
    },
    {
        ...miniclasses[2],
        title: tr.miniclass.uiux.title,
        description: tr.miniclass.uiux.desc,
        link: "/miniclass/ui-ux"
    },
    {
        ...miniclasses[3],
        title: tr.miniclass.frontend.title,
        description: tr.miniclass.frontend.desc,
        link: "/miniclass/frontend"
    },
];
---

<Container className={`${className}`}>
    <div class="w-full flex flex-col md:flex-row md:justify-between pb-5 md:pb-0 md:items-end">
        <div>
            <PillsText className="mx-auto md:mx-0">{tr.about.pills}</PillsText>
            <h1 class="text-center md:text-left text-4xl md:text-6xl font-semibold mt-5 w-full md:w-2/3">
                <span class="wri-italic from-wri-blue to-wri-blue/45"
                    >{tr.about.workshop}</span
                > {tr.about.risetInformatika}
            </h1>
        </div>
        <h5 class="text-center md:text-right text-md md:text-lg w-full md:w-1/3 text-wri-gray-600 mt-4 md:mt-0">
            <Fragment set:html={tr.about.description}/>
        </h5>
    </div>
    <div class="w-full grid grid-cols-2 gap-4 md:gap-8 mt-8 md:mt-16">
        {
            translatedMiniclasses.map((miniclass) => (
                <MiniClassCard
                    titleIcon={miniclass.titleIcon}
                    color={miniclass.color}
                    title={miniclass.title}
                    description={miniclass.description}
                    image={miniclass.image}
                    imageHeight={miniclass.imageHeight}
                    link={miniclass.link}
                />
            ))
        }
    </div>
</Container>
